<footer class="sticky-bottom">
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook facebook-color"></i>
            <i class="fa-brands fa-instagram instagram-color"></i>
            <i class="fa-brands fa-linkedin linkedin-color"></i>
        </div>
        
        <div class="f-info-brand">Rohit Singha Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>